<%= form_with(model: newsletter) do |form| %>
  <% if newsletter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
        <% newsletter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if newsletter.design.nil? %>

    <div>
      <%= form.label :design, style: "display: block" %>
      <%= form.select :design_id, @designs.collect {|design| [ design.name, design.id ] } %><br />


    </div>
    <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
