<%# FIX_ME nested_form_for is before rails 4 %>
<%= form_with(model: element, url: [@design, element]) do |f| %>
  <% if element.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(element.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% element.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :description %>
  <%= f.text_field :description %><br />


  <div class="submit_button"><%= f.submit "Submit", :class => 'button' %></div>

<% end %>
